/* ===== PALETA ===== */
:root {
    --azul-escuro: #001D39;
    --azul-medio: #0A4174;
    --azul-claro: #49769F;
    --roxo-escuro: #49225B;
    --roxo-medio: #6E3482;
    --roxo-claro: #A56ABD;
    --cinza: #B2B6BA;

    --fundo: #F4F4F4;
    --texto: #1A1A1A;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #001D39;
    
}

/* ===== HEADER ===== */
.header {
    background: #001a33;
    padding: 20px;
    text-align: center;
    color: white;
    border: solid 2px #3a1a47;
    border-radius: 20px;
    margin: 10px;
}

.titulo {
    font-size: 2.8rem;
    font-weight: 700;
}

.subtitulo {
    opacity: 0.8;
    margin-top: 5px;
}

/* ===== HERO ===== */
.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.hero-content {
    max-width: 500px;
}

.hero h2 {
    font-size: 2rem;
    color: #527aa0;
}

.hero p {
    margin-top: 10px;
    color: #B2B6BA;
}

.hero-img {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
    margin-bottom: 10px;
}

/* ===== EQUIPES ===== */
.equipes {
    padding: 60px 20px;
    text-align: center;
    background-color: white;
}

.sec-titulo {
    font-size: 2.2rem;
    color: #0A4174;
    margin-bottom: 30px;
    border-bottom: solid 2px #0A4174;
    padding-bottom: 10px;
    display: inline-block;
    
}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card-software {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-top: 8px solid #1269b9;
}

.card-segurança {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-top: 8px solid #6E3482;
}

.card-hardware {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-top: 8px solid #3314be;
}

.card-marketing {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-top: 8px solid #ab75c0;
}

.card-marketing p {
    text-align: justify;
    margin-top: 10px;
    color: #555555;
    line-height: 1.5rem;
}

.card-marketing h3 {
    margin: 10px 0;
    color: #ab75c0;
    font-size: 1.3rem;
}

.card-segurança p {
    text-align: justify;
    margin-top: 10px;
    color: #555555;
    line-height: 1.5rem;
}

.card-segurança h3 {
    margin: 10px 0;
    color: var(--roxo-medio);
    font-size: 1.3rem;
}

.card-hardware p {
    text-align: justify;
    margin-top: 10px;
    color: #555555;
    line-height: 1.5rem;
}
.card-software p {
    text-align: justify;
    margin-top: 10px;
    color: #555555;
    line-height: 1.5rem;
}
.card-hardware h3 {
    margin: 10px 0;
    color: #3d21b9;
    font-size: 1.3rem;
}
.card-software h3 {
    margin: 10px 0;
    color: #1269b9;
    font-size: 1.3rem;
}

.card h3 {
    margin: 10px 0;
    color: var(--roxo-medio);
    font-size: 1.3rem;
}

.espaco-imagem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.espaco-imagem img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    object-fit: contain;
}

/* ===== FRASES ===== */
.frases {
    margin: 60px 20px;
    text-align: center;
    display: grid;
    gap: 20px;
}

.frase {
    background: var(--azul-claro);
    color: white;
    padding: 20px;
    border-radius: 12px;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* ===== RODAPÉ ===== */
.footer {
    background: #572966;
    padding: 15px;
    text-align: center;
    color: white;
    margin-top: 40px;
}

.espaco-imagem img{
    width: 320px;
    border-radius: 10px;
}

.logo-leonel {
    width: 10%;
}

.logo-rdc {
    width: 20%;
}

.sobre {
    text-align: center;
    font-size: 18px;
    color: #001a33;
    margin-top: 150px;;
}

.frase-sobre {
    margin-top: 20px;
    font-size: 20px;
    color: #001a33;
    line-height: 1.9rem;
    padding-left: 40px;
    padding-right: 40px;
    
}

.sobre h2 {
    color: #001a33;
    display: inline-block;
    border-top:solid 2px #6E3482;  
    padding-top: 100px;
}